<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid justify-content-center w-100">
    <a class="navbar-brand fs-6" href="#">App developed by: Joalrope</a>
    <a
      class="navbar-brand fs-6"
      href="https://github.com/joalrope"
      target="_blank"
      ><i class="bi bi-github"></i
    ></a>
    <a
      class="navbar-brand fs-6"
      href="https://www.facebook.com/Joalrope/"
      target="_blank"
      ><i class="bi bi-facebook"></i
    ></a>
  </div>
</nav>
